extends ../default

block content

  #home.page

    ul.work
    
      each item in work
      
        li.work-item
          a(href="#")
            img(id="#{item.slug}" src="images/uploads/#{item.image.filename}")
            h2 #{item.title}
