extends ../default

block content

  #home.page

    h1 #{page.title}
    p #{page.description}

    //- each item in images
      
    //-   img(id="#{item.slug}" src="images/uploads/#{item.image.filename}")
