
/* line 286 : /Users/scott/Desktop/work/tegan-portfolio/client/styles/app.styl */

/* line 1 : /Users/scott/Desktop/work/tegan-portfolio/node_modules/gulp-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 260 : /Users/scott/Desktop/work/tegan-portfolio/node_modules/gulp-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 1 : /Users/scott/Desktop/work/tegan-portfolio/node_modules/rupture/rupture/index.styl */

/* line 1 : /Users/scott/Desktop/work/tegan-portfolio/client/styles/app.styl */
/**
 * ------------------------
 * Core
 * ------------------------
 */

/* line 14 : /Users/scott/Desktop/work/tegan-portfolio/node_modules/rupture/rupture/index.styl */

/* line 27 : /Users/scott/Desktop/work/tegan-portfolio/node_modules/nib/lib/nib/index.styl */

/* line 10 : /Users/scott/Desktop/work/tegan-portfolio/node_modules/nib/lib/nib/index.styl */

/* line 1 : /Users/scott/Desktop/work/tegan-portfolio/node_modules/nib/lib/nib/border.styl */

/* line 28 : /Users/scott/Desktop/work/tegan-portfolio/node_modules/nib/lib/nib/border.styl */

/* line 1 : /Users/scott/Desktop/work/tegan-portfolio/node_modules/nib/lib/nib/clearfix.styl */

/* line 4 : /Users/scott/Desktop/work/tegan-portfolio/node_modules/nib/lib/nib/clearfix.styl */

/* line 541 : /Users/scott/Desktop/work/tegan-portfolio/node_modules/nib/lib/nib/color-image.styl */

/* line 196 : /Users/scott/Desktop/work/tegan-portfolio/node_modules/nib/lib/nib/color-image.styl */

/* line 1 : /Users/scott/Desktop/work/tegan-portfolio/node_modules/nib/lib/nib/flex.styl */

/* line 90 : /Users/scott/Desktop/work/tegan-portfolio/node_modules/nib/lib/nib/flex.styl */

/* line 27 : /Users/scott/Desktop/work/tegan-portfolio/node_modules/nib/lib/nib/gradients.styl */

/* line 11 : /Users/scott/Desktop/work/tegan-portfolio/node_modules/nib/lib/nib/gradients.styl */

/* line 1 : /Users/scott/Desktop/work/tegan-portfolio/node_modules/nib/lib/nib/config.styl */

/* line 7 : /Users/scott/Desktop/work/tegan-portfolio/node_modules/nib/lib/nib/config.styl */

/* line 541 : /Users/scott/Desktop/work/tegan-portfolio/node_modules/nib/lib/nib/iconic.styl */

/* line 25 : /Users/scott/Desktop/work/tegan-portfolio/node_modules/nib/lib/nib/iconic.styl */

/* line 1 : /Users/scott/Desktop/work/tegan-portfolio/node_modules/nib/lib/nib/image.styl */

/* line 19 : /Users/scott/Desktop/work/tegan-portfolio/node_modules/nib/lib/nib/image.styl */

/* line 27 : /Users/scott/Desktop/work/tegan-portfolio/node_modules/nib/lib/nib/normalize/index.styl */

/* line 8 : /Users/scott/Desktop/work/tegan-portfolio/node_modules/nib/lib/nib/normalize/index.styl */

/* line 541 : /Users/scott/Desktop/work/tegan-portfolio/node_modules/nib/lib/nib/normalize/base.styl */

/* line 19 : /Users/scott/Desktop/work/tegan-portfolio/node_modules/nib/lib/nib/normalize/base.styl */

/* line 541 : /Users/scott/Desktop/work/tegan-portfolio/node_modules/nib/lib/nib/normalize/html5.styl */

/* line 6 : /Users/scott/Desktop/work/tegan-portfolio/node_modules/nib/lib/nib/normalize/html5.styl */

/* line 541 : /Users/scott/Desktop/work/tegan-portfolio/node_modules/nib/lib/nib/normalize/links.styl */

/* line 30 : /Users/scott/Desktop/work/tegan-portfolio/node_modules/nib/lib/nib/normalize/links.styl */

/* line 541 : /Users/scott/Desktop/work/tegan-portfolio/node_modules/nib/lib/nib/normalize/text.styl */

/* line 7 : /Users/scott/Desktop/work/tegan-portfolio/node_modules/nib/lib/nib/normalize/text.styl */

/* line 541 : /Users/scott/Desktop/work/tegan-portfolio/node_modules/nib/lib/nib/normalize/embed.styl */

/* line 17 : /Users/scott/Desktop/work/tegan-portfolio/node_modules/nib/lib/nib/normalize/embed.styl */

/* line 541 : /Users/scott/Desktop/work/tegan-portfolio/node_modules/nib/lib/nib/normalize/groups.styl */

/* line 69 : /Users/scott/Desktop/work/tegan-portfolio/node_modules/nib/lib/nib/normalize/groups.styl */

/* line 541 : /Users/scott/Desktop/work/tegan-portfolio/node_modules/nib/lib/nib/normalize/forms.styl */

/* line 7 : /Users/scott/Desktop/work/tegan-portfolio/node_modules/nib/lib/nib/normalize/forms.styl */

/* line 541 : /Users/scott/Desktop/work/tegan-portfolio/node_modules/nib/lib/nib/normalize/tables.styl */

/* line 20 : /Users/scott/Desktop/work/tegan-portfolio/node_modules/nib/lib/nib/normalize/tables.styl */

/* line 1 : /Users/scott/Desktop/work/tegan-portfolio/node_modules/nib/lib/nib/overflow.styl */

/* line 66 : /Users/scott/Desktop/work/tegan-portfolio/node_modules/nib/lib/nib/overflow.styl */

/* line 541 : /Users/scott/Desktop/work/tegan-portfolio/node_modules/nib/lib/nib/positions.styl */

/* line 78 : /Users/scott/Desktop/work/tegan-portfolio/node_modules/nib/lib/nib/positions.styl */

/* line 541 : /Users/scott/Desktop/work/tegan-portfolio/node_modules/nib/lib/nib/reset.styl */

/* line 5 : /Users/scott/Desktop/work/tegan-portfolio/node_modules/nib/lib/nib/reset.styl */

/* line 27 : /Users/scott/Desktop/work/tegan-portfolio/node_modules/nib/lib/nib/text/index.styl */

/* line 12 : /Users/scott/Desktop/work/tegan-portfolio/node_modules/nib/lib/nib/text/index.styl */

/* line 1 : /Users/scott/Desktop/work/tegan-portfolio/node_modules/nib/lib/nib/text/aliases.styl */

/* line 9 : /Users/scott/Desktop/work/tegan-portfolio/node_modules/nib/lib/nib/text/aliases.styl */

/* line 1 : /Users/scott/Desktop/work/tegan-portfolio/node_modules/nib/lib/nib/text/ellipsis.styl */

/* line 8 : /Users/scott/Desktop/work/tegan-portfolio/node_modules/nib/lib/nib/text/ellipsis.styl */

/* line 1 : /Users/scott/Desktop/work/tegan-portfolio/node_modules/nib/lib/nib/text/hide-text.styl */

/* line 9 : /Users/scott/Desktop/work/tegan-portfolio/node_modules/nib/lib/nib/text/hide-text.styl */

/* line 1 : /Users/scott/Desktop/work/tegan-portfolio/node_modules/nib/lib/nib/text/replace-text.styl */

/* line 2 : /Users/scott/Desktop/work/tegan-portfolio/node_modules/nib/lib/nib/text/replace-text.styl */

/* line 541 : /Users/scott/Desktop/work/tegan-portfolio/node_modules/nib/lib/nib/text/shadow-stroke.styl */

/* line 577 : /Users/scott/Desktop/work/tegan-portfolio/node_modules/nib/lib/nib/text/shadow-stroke.styl */

/* line 541 : /Users/scott/Desktop/work/tegan-portfolio/node_modules/nib/lib/nib/vendor.styl */

/* line 11 : /Users/scott/Desktop/work/tegan-portfolio/node_modules/nib/lib/nib/vendor.styl */

/* line 1 : /Users/scott/Desktop/work/tegan-portfolio/node_modules/nib/lib/nib/config.styl */

/* line 28 : /Users/scott/Desktop/work/tegan-portfolio/node_modules/nib/lib/nib/config.styl */

/* line 1 : /Users/scott/Desktop/work/tegan-portfolio/node_modules/nib/lib/nib/size.styl */

/* line 17 : /Users/scott/Desktop/work/tegan-portfolio/node_modules/nib/lib/nib/size.styl */

/* line 1 : /Users/scott/Desktop/work/tegan-portfolio/node_modules/jeet/stylus/jeet/index.styl */

/* line 11 : /Users/scott/Desktop/work/tegan-portfolio/node_modules/jeet/stylus/jeet/index.styl */

/* line 1 : /Users/scott/Desktop/work/tegan-portfolio/node_modules/jeet/stylus/jeet/_settings.styl */

/* line 64 : /Users/scott/Desktop/work/tegan-portfolio/node_modules/jeet/stylus/jeet/_settings.styl */

/* line 1 : /Users/scott/Desktop/work/tegan-portfolio/node_modules/jeet/stylus/jeet/_functions.styl */

/* line 281 : /Users/scott/Desktop/work/tegan-portfolio/node_modules/jeet/stylus/jeet/_functions.styl */

/* line 1 : /Users/scott/Desktop/work/tegan-portfolio/node_modules/jeet/stylus/jeet/_grid.styl */

/* line 30 : /Users/scott/Desktop/work/tegan-portfolio/node_modules/jeet/stylus/jeet/_grid.styl */

/* line 27 : /Users/scott/Desktop/work/tegan-portfolio/client/styles/reset.styl */

/* line 12 : /Users/scott/Desktop/work/tegan-portfolio/client/styles/reset.styl */

/* line 1 : /Users/scott/Desktop/work/tegan-portfolio/client/styles/utils/variables.styl */

/* line 65 : /Users/scott/Desktop/work/tegan-portfolio/client/styles/utils/variables.styl */

/* line 541 : /Users/scott/Desktop/work/tegan-portfolio/client/styles/utils/mixins.styl */

/* line 4 : /Users/scott/Desktop/work/tegan-portfolio/node_modules/nib/lib/nib/reset.styl */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 14 : /Users/scott/Desktop/work/tegan-portfolio/node_modules/nib/lib/nib/reset.styl */
body {
  line-height: 1;
  color: #000;
  background: #fff;
}

/* line 16 : /Users/scott/Desktop/work/tegan-portfolio/node_modules/nib/lib/nib/reset.styl */
ol,
ul {
  list-style: none;
}

/* line 18 : /Users/scott/Desktop/work/tegan-portfolio/node_modules/nib/lib/nib/reset.styl */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 20 : /Users/scott/Desktop/work/tegan-portfolio/node_modules/nib/lib/nib/reset.styl */
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 22 : /Users/scott/Desktop/work/tegan-portfolio/node_modules/nib/lib/nib/reset.styl */
a img {
  border: none;
}

/* line 6 : /Users/scott/Desktop/work/tegan-portfolio/client/styles/reset.styl */
html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* line 10 : /Users/scott/Desktop/work/tegan-portfolio/client/styles/reset.styl */
html * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 15 : /Users/scott/Desktop/work/tegan-portfolio/client/styles/reset.styl */
html body {
  background-color: #fff;
  color: #000;
}

/* line 19 : /Users/scott/Desktop/work/tegan-portfolio/client/styles/reset.styl */
html img {
  max-width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  user-drag: none;
}

/* line 24 : /Users/scott/Desktop/work/tegan-portfolio/client/styles/reset.styl */
html span {
  display: inline-block;
}

/* line 27 : /Users/scott/Desktop/work/tegan-portfolio/client/styles/reset.styl */
html a {
  text-decoration: none;
  display: block;
  color: #000;
}

/* line 10 : /Users/scott/Desktop/work/tegan-portfolio/client/styles/app.styl */
/**
 * ------------------------
 * Utils
 * ------------------------
 */

/* line 13 : /Users/scott/Desktop/work/tegan-portfolio/client/styles/utils/mixins.styl */

/* line 1 : /Users/scott/Desktop/work/tegan-portfolio/client/styles/utils/rupture.styl */

/* line 55 : /Users/scott/Desktop/work/tegan-portfolio/client/styles/utils/rupture.styl */

/* line 1 : /Users/scott/Desktop/work/tegan-portfolio/client/styles/utils/easing.styl */

/* line 8 : /Users/scott/Desktop/work/tegan-portfolio/client/styles/utils/easing.styl */

/* line 55 : /Users/scott/Desktop/work/tegan-portfolio/client/styles/utils/fonts.styl */

/* line 1 : /Users/scott/Desktop/work/tegan-portfolio/client/styles/utils/fonts.styl */
body {
  font-size: 16px;
}

/* line 4 : /Users/scott/Desktop/work/tegan-portfolio/client/styles/utils/fonts.styl */
h1 {
  font-size: 28px;
}

/* line 7 : /Users/scott/Desktop/work/tegan-portfolio/client/styles/utils/fonts.styl */
h2 {
  font-size: 22px;
}

/* line 65 : /Users/scott/Desktop/work/tegan-portfolio/client/styles/utils/fonts.styl */

/* line 541 : /Users/scott/Desktop/work/tegan-portfolio/client/styles/utils/mixins.styl */

/* line 12 : /Users/scott/Desktop/work/tegan-portfolio/client/styles/utils/mixins.styl */

/* line 1 : /Users/scott/Desktop/work/tegan-portfolio/client/styles/utils/variables.styl */

/* line 21 : /Users/scott/Desktop/work/tegan-portfolio/client/styles/app.styl */
/**
 * ------------------------
 * Common
 * ------------------------
 */

/* line 12 : /Users/scott/Desktop/work/tegan-portfolio/client/styles/utils/variables.styl */

/* line 8 : /Users/scott/Desktop/work/tegan-portfolio/client/styles/components/header.styl */

/* line 1 : /Users/scott/Desktop/work/tegan-portfolio/client/styles/components/header.styl */
#header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255,69,0,0.5);
  padding: 10px;
}

/* line 7 : /Users/scott/Desktop/work/tegan-portfolio/client/styles/components/header.styl */
#header ul {
  margin-top: 5px;
}

/* line 10 : /Users/scott/Desktop/work/tegan-portfolio/client/styles/components/header.styl */
#header ul li {
  display: inline-block;
  margin-right: 10px;
}

/* line 5 : /Users/scott/Desktop/work/tegan-portfolio/client/styles/components/header.styl */

/* line 12 : /Users/scott/Desktop/work/tegan-portfolio/client/styles/components/footer.styl */

/* line 1 : /Users/scott/Desktop/work/tegan-portfolio/client/styles/components/footer.styl */
#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255,69,0,0.5);
  padding: 10px;
}

/* line 29 : /Users/scott/Desktop/work/tegan-portfolio/client/styles/app.styl */
/**
 * ------------------------
 * Views
 * ------------------------
 */

/* line 5 : /Users/scott/Desktop/work/tegan-portfolio/client/styles/components/footer.styl */

/* line 5 : /Users/scott/Desktop/work/tegan-portfolio/client/styles/views/page.styl */

/* line 1 : /Users/scott/Desktop/work/tegan-portfolio/client/styles/views/page.styl */
.page {
  padding: 10px;
}

/* line 4 : /Users/scott/Desktop/work/tegan-portfolio/client/styles/views/page.styl */
.page h1 {
  margin-bottom: 10px;
}

/* line 26 : /Users/scott/Desktop/work/tegan-portfolio/client/styles/views/page.styl */

/* line 31 : /Users/scott/Desktop/work/tegan-portfolio/client/styles/views/home.styl */

/* line 1 : /Users/scott/Desktop/work/tegan-portfolio/client/styles/views/home.styl */

/* line 3 : /Users/scott/Desktop/work/tegan-portfolio/client/styles/views/home.styl */
#home ul {
  text-align: center;
}

/* line 6 : /Users/scott/Desktop/work/tegan-portfolio/client/styles/views/home.styl */
#home ul li.work-item {
  display: inline-block;
  vertical-align: top;
  margin: 30px;
}

/* line 11 : /Users/scott/Desktop/work/tegan-portfolio/client/styles/views/home.styl */

/* line 13 : /Users/scott/Desktop/work/tegan-portfolio/client/styles/views/home.styl */
#home ul li.work-item a img {
  -webkit-box-shadow: 0 0 15px 1px rgba(0,0,0,0.1);
  box-shadow: 0 0 15px 1px rgba(0,0,0,0.1);
  -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transform-origin: 50%;
  -moz-transform-origin: 50%;
  -o-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
}

/* line 18 : /Users/scott/Desktop/work/tegan-portfolio/client/styles/views/home.styl */
#home ul li.work-item a h2 {
  text-align: left;
  font-size: 16px;
  margin-top: 10px;
}

/* line 23 : /Users/scott/Desktop/work/tegan-portfolio/client/styles/views/home.styl */

/* line 24 : /Users/scott/Desktop/work/tegan-portfolio/client/styles/views/home.styl */

/* line 25 : /Users/scott/Desktop/work/tegan-portfolio/client/styles/views/home.styl */
#home ul li.work-item.blur a img {
  -webkit-filter: blur(5px);
}

/* line 7 : /Users/scott/Desktop/work/tegan-portfolio/client/styles/views/home.styl */

/* line 7 : /Users/scott/Desktop/work/tegan-portfolio/client/styles/views/about.styl */

/* line 1 : /Users/scott/Desktop/work/tegan-portfolio/client/styles/views/about.styl */

/* line 2 : /Users/scott/Desktop/work/tegan-portfolio/client/styles/views/about.styl */
#example ul {
  margin-bottom: 10px;
}

/* line 5 : /Users/scott/Desktop/work/tegan-portfolio/client/styles/views/about.styl */
#example ul li {
  display: inline-block;
  margin-right: 10px;
}
