doctype html
html

	head
		
		include components/meta
		
		link(href="/css/app.css", rel="stylesheet")

	body

		include components/header

		div(id="main")

			block content

		script(src="js/app.js")
