#home
  
  ul
    text-align: center
  
    li.work-item
      display: inline-block
      vertical-align: top
      margin: 30px
      
      img
        box-shadow: 0 0 15px 1px rgba(black,0.1)
      
      h2
        text-align: left
        font-size: 16px
        margin-top: 10px